# US Portfolio Grow - Environment Variables

# Polygon.io (ตัวหลัก - ข้อมูลแม่นยำที่สุด)
REACT_APP_POLYGON_API_KEY=h3faYrol9E4DEgv99Fj532HblSIA3fAb

# EODHD (ตัวสำรอง 1 - มีข้อมูลปันผล)
REACT_APP_EODHD_API_KEY=69cec4d00ed1f6.56559517

# Finnhub (ตัวสำรอง 2 - ค้นหาหุ้น + Profile)
REACT_APP_FINNHUB_API_KEY=d77k3npr01qp6afltiggd77k3npr01qp6afltih0

# Server Port
PORT=5000

# Node Environment
NODE_ENV=development